<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>		 
	<section name="ClientListConfig"
                 type="ShowImageApp.Models.ClientConfigSection,ShowImageApp"/>
	</configSections>
	<ClientListConfig>
		 <ClientList>
			 <!--<Client name="Client1" ipaddress="127.0.0.1"/>-->
		      <!--<Client name="Client1" ipaddress="fe80::50e9:8b87:2bc0:aea1"/>
	 <Client name="Client2" ipaddress="fe80::7c0e:3c6e:7342:489c"/>-->		  
		 <!--<Client name="Client3" ipaddress="fe80::88c5:1e9c:f63c:c16c"/>--> 
		</ClientList>
	</ClientListConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="TimeInterval" value="200" />
		<add key="IPAddress" value="192.168.99.113" />
		<!--<add key="IPAddress" value="127.0.0.1" />-->
		<add key="PortNo" value="443" />
	</appSettings>	
</configuration>